{% extends 'base.html' %}

{% block title %}Esnile Innova Tech Ltd | Portfolio{% endblock %}


{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('../static/img/portfolio-header.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Portfolio</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Portfolio</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="slides-1 portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="../static/img/portfolio/cover-eco.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="../static/img/portfolio/eco-in-1.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="../static/img/portfolio/eco-in-2.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="../static/img/portfolio/eco-in-3.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Web design</li>
                <li><strong>Client</strong>:  Eco-First Innovations Environmental Consultancy Firm</li>
                <li><strong>Project date</strong>: 31st March, 2023</li>
                <li><strong>Project URL</strong>: <a href="https://www.ecofirstinnovationsecf.com/">https://www.ecofirstinnovationsecf.com/</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Website design for Eco-First Innovations Environmental Consultancy Firm</h2>
              <p>
                We were tasked with developing a visually appealing and user-friendly website that accurately reflects the company's commitment to sustainable environmental solutions. We are honored to have partnered with Eco-First Innovations on this project and look forward to future collaborations.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
{% endblock %}