{% extends 'base.html' %}

{% block title %}Esnile Innova Tech Ltd | Portfolio{% endblock %}


{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('../static/img/portfolio-header.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Portfolio</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Portfolio</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="slides-1 portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="../static/img/portfolio/product-3.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="../static/img/portfolio/scraper-1.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="../static/img/portfolio/scraper-2.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="../static/img/portfolio/scraper-3.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Python </li>
                <li><strong>Project date</strong>: 3rd November, 2022</li>
                <li><strong>Project URL</strong>: <a href="https://github.com/mambwechafs/hckrnws">https://github.com/mambwechafs/hckrnws</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Web Scraper - Hacker News</h2>
              <p>
                This program extracts news articles with more than 100 votes from Hacker News website using web scraping techniques. The program will store the data in a database or file and provide filtering options based on specific keywords or topics. The outcome will be a functional program that simplifies data collection and provides users with easy access to relevant information.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
{% endblock %}